body {
  font-family: 'Open Sans', sans-serif;
  background-color: #011032;
  color: #ff1245;
}

button {
  color: #ff1245;
  font-size: 24px;
  border-radius: 36px;
  padding: 8px;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #011032;
}

.loader > p {
  font-size: 32px;
  padding: 120px;
}

/**
 * Change from 25s -> 0.1s for testing.
 */
.loader.hidden {
  animation: fadeOut 0.1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }

  85% {
    opacity: 100%;
  }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buttons {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 96px;
  margin: 0;
  padding-top: 244px;
}

.first-row {
  display: flex;
  justify-content: center;
  gap: 96px;
}

.second-row {
  align-self: center;
}

.main-page {
  display: flex;
}

.you {
  margin: 0;
  padding: 108px 0 0 76px;
}

.machine {
  margin: 0;
  padding: 108px 76px 0 0;
}

.break {
  border: 1px solid white;
  font-size: 64px;
  padding: 8px;
  color: #011032;
}

.letter-shown {
  color: #ff1245;
}

.result {
  margin: 108px;
  text-align: center;
}
